<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
</head>
<body>
    <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center; font-weight: 600px;"><u>A Copy of your response</u></h3>
    <br>
    <p style="padding: 0px 20px 0px 0px;font-family: Verdana, Geneva, Tahoma, sans-serif; text-align : center;">{{ content }}</p>
</body>
</html>