[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.11"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
pillow = "*"
django-crispy-forms = "*"
python-dotenv = "*"
python-decouple = "*"
django-jazzmin = "*"
django-github-s3 = "*"

[dev-packages]


[requires]
python_version = "3.9"
