{% extends "base.html" %}
{% block title %}Reset your password{% endblock title %}

{% block body %}
<!-- SUCCESS -->
<div class="container-fluid">
<h1>Reset Your Password</h1><br>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
<!-- FOOTER -->
<div id="footer" class="container mobile-hide">
    <footer class="row row-cols-5 py-5 my-5 border-top">
        <div class="col">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <img width="33%" src="/static/favicon/favicon.png" alt="footer" />
            </a>
            <p class="text-muted">© 2021</p>
        </div>

        <div class="col">

        </div>

        <div class="col">
            <h5>Our Site Pages</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About Us</a></li>
                <li class="nav-item mb-2"><a href="/blog" class="nav-link p-0 text-muted">Blog</a></li>
                <li class="nav-item mb-2"><a href="/analyzer" class="nav-link p-0 text-muted">Text Analyzer</a></li>
                <li class="nav-item mb-2"><a href="/editor" class="nav-link p-0 text-muted">Text Editor</a></li>
                <li class="nav-item mb-2"><a href="/styler" class="nav-link p-0 text-muted">Text Styler</a></li>
                <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-muted">Contact Us</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Social</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://in.pinterest.com/maitrababai2007"
                        class="nav-link p-0 text-muted"><i class="fab fa-pinterest"></i> Pinterest</a></li>
                <li class="nav-item mb-2"><a href="https://www.linkedin.com/in/sinchan-maitra-22a303217/"
                        class="nav-link p-0 text-muted"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li class="nav-item mb-2"><a href="https://github.com/abindent" class="nav-link p-0 text-muted"><i
                            class="fab fa-github-alt"></i> Github</a></li>
                <li class="nav-item mb-2"><a href="https://reddit.com/r/Abindent" class="nav-link p-0 text-muted"><i
                            class="fab fa-reddit-alien"></i> Subreddit</a></li>
                <li class="nav-item mb-2"><a href="https://twitch.tv/smduniya187357"
                        class="nav-link p-0 text-muted"><i class="fab fa-twitch"></i> Twitch</a></li>
                <li class="nav-item mb-2"><a href="https://discord.io/AbindentCommunity"
                        class="nav-link p-0 text-muted"><i class="fab fa-discord"></i> Discord Server</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Other Sites & Projects</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://osourcegames.firebaseapp.com"
                        class="nav-link p-0 text-muted">OpenSource Games</a></li>
                <li class="nav-item mb-2"><a href="https://otsersto.infinityfreeapp.com"
                        class="nav-link p-0 text-muted">OpenSource Blogs</a></li>
                <li class="nav-item mb-2"><a href="https://ecodefun.firebaseapp.com"
                        class="nav-link p-0 text-muted">EcodeFun</a></li>
                <li class="nav-item mb-2"><a href="https://ecodepen.firebaseapp.com"
                        class="nav-link p-0 text-muted">EcodePen</a></li>
                <li class="nav-item mb-2"><a href="https://ecodefun.firebaseapp.com/codepad.html"
                        class="nav-link p-0 text-muted">EcodePad</a></li>
            </ul>
        </div>
    </footer>
</div>
<!-- MOBILE FOOTER -->
<div class="container mobile-show">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">© 2021 Text Analyzer</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="/static/favicon/favicon.png" width="33%" alt="footer" />
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"><a href="/blog" class="nav-link px-2 text-muted">Blog</a></li>
            <li class="nav-item"><a href="/analyzer" class="nav-link px-2 text-muted">Analyzer</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
          </ul>
        </footer>
      </div>
</div>
{% endblock %}
