{% extends 'base.html' %}
{% block title %}Password Changed | TextAnalyzer{% endblock title %}
{% block body %}

<div class="container text-black dark:text-pink-800  text-center">
    <div class="py-12 px-12 md:mb-48 mb-16">
        <h2 class="text-3xl font-bold mb-4"><i class="fas fa-check"></i>&nbsp;CHANGED PASSWORD</h2>
        <p class="items-center justify-center text-center">You have successfully <i class='fas fa-envelope'></i>&nbsp;changed your account's password.<br/>
        You may now log in to your account with your new credentials.</p>

    </div>
</div>

{% endblock body %}