{% extends 'base.html' %}
{% block title %}Password Reset Email Sent | TextAnalyzer{% endblock title %}
{% block body %}

<div class="container text-black dark:text-pink-800  text-center">
    <div class="py-12 px-12 md:mb-48 mb-16">
        <h2 class="text-3xl font-bold mb-4"><i class="fas fa-check"></i>&nbsp;INSTRUCTIONS SENT</h2>
        <p class="items-center justify-center text-center">We have successfully <i class='fas fa-envelope'></i>&nbsp;emailed you the instructions.<br/>
        Check your email and follow the instructions in order to reset your account's password.</p>

    </div>
</div>

{% endblock body %}